{% extends "layouts/layout.html" %}
{% block title %}Edit Apartment{% endblock title %}
{% block head %}
{% endblock head %}
{% block body %}
  <form class="body" method="post" action="{{ url_for('comment_edit',comment_id=comment.id, apartment_id=apartment.id) }}">
    {{ form.csrf_token }}
    {{ form.user_id(value=current_user.get_id()) }}
    <label>Comment: </label><br>{{ form.name(value=Comment.comment, rows='3',cols='100') }}<br>
    <button type="submit">Edit Comment</button>
  </form>
{% endblock body %}