{% extends "layouts/layout.html" %}
{% block title %}Edit Apartment{% endblock title %}
{% block head %}
{% endblock head %}
{% block body %}
  <form class="body" method="post" action="{{ url_for('apartment_edit',apartment_id=apartment.id) }}">
    {{ form.csrf_token }}
    {{ form.user_id(value=current_user.get_id()) }}
    <label>Name: </label><br>{{ form.name(value=apartment.name, rows='3',cols='100') }}<br>
    <label>Location: </label><br>{{ form.location (value=apartment.location, rows='5',cols='100')}}<br>
    <label>Description: </label><br>{{ form.description (value=apartment.description, rows='10',cols='100')}}<br>
    <label>Price: </label><br>{{ form.price (value=apartment.price, rows='2',cols='30') }}<br><br>
    {# TODO set default image #}
    <label>Image: </label><br>{{ form.image (value=url_for('static', filename='images/' + apartment.image)) }}<br><br>
    <button type="submit">Edit Apartment</button>
  </form>
{% endblock body %}