{% extends "layouts/layout.html" %}
{% block title %}Apartments{% endblock title %}
{% block head %}

{% endblock head %}
{% block body %}
  <a href="{{ url_for('apartment_create') }}">Add Apartment</a>
  {% for apartment in apartments %}
    <table>
      <tbody>
        <tr>
          <td><a href="{{ url_for('apartment_show', apartment_id=apartment.id) }}">{{ apartment.name }}</a></td>
          <td>{{ apartment.location }}</td>
          <td>{{ apartment.description }}</td>
        </tr>
      </tbody>
    </table>
  {% endfor %}
{% endblock body %}