{% extends "layouts/layout.html" %}
{% block title %}Show Apartment{% endblock title %}
{% block head %}

{% endblock head %}
{% block body %}
  <div class="body">
    <p>{{ apartment.name }}</p>
    <p>added by {{ user.username }}</p>
    <p>Address: {{ apartment.location }}</p>
    <p>Description: <br>{{ apartment.description }}</p>
    <hr>
    <div class="comments">
      {% if comments %}
        <p>Comments:</p>
        {% for comment in comments %}
          <p>{{ comment.comment }}</p>
          {#      {% if comment.user_id == current_user.get_id() %}#}
          {#        <p>edit</p>#}
          {#        <a href="{{ url_for('comment_edit', comment_id=comment.id) }}">Edit</a>#}
          {#        <a href="{{ url_for('comment_delete', comment_id=comment.id) }}">Delete</a>#}
          {#      {% endif %}#}
        {% endfor %}
        <hr>
      {% endif %}
    </div>
    <form action="{{ url_for('comment_create') }}" method="post">
      {% if comments %}
        <p>Add a Comment:</p>
      {% else %}
        <p>Be the First to add a Comment!</p>
      {% endif %}
      {{ form.csrf_token }}
      {{ form.user_id(value=current_user.get_id()) }}
      {{ form.apartment_id(value=apartment.id) }}
      {{ form.comment(rows='5',cols='100') }}
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>
{% endblock body %}