{% extends "layouts/layout.html" %}
{% block title %}Show Apartment{% endblock title %}
{% block head %}

{% endblock head %}
{% block body %}
  <div class="body">
    {% if apartment.user_id == current_user.id %}
      <form action="{{ url_for("apartment_delete") }}" method="post">
        <input name="apartment_id" type="hidden" value="{{ apartment.id }}">
        <button style="float: right" type="submit">Delete Apartment</button>
      </form>
      <a style="float: right" href="{{ url_for('apartment_edit', apartment_id=apartment.id) }}">Edit Apartment</a>
    {% endif %}
    <h2>{{ apartment.name }}</h2>
    <p>added by {{ user.username }}</p>
    <hr>
    <p>Address: {{ apartment.location }}</p>
    <p>Price: €{{ apartment.price }} per night.</p>
    <p>Description: <br>{{ apartment.description }}</p>
    <hr/>
    <div class="comments">
      {% if comments %}
        <p>Comments:</p>
        {% for comment in comments %}
          {% if comment.user_id == current_user.id %}
            <form action="{{ url_for("comment_delete") }}" method="post">
              <input name="apartment_id" type="hidden" value="{{ apartment.id }}">
              <input name="comment_id" type="hidden" value="{{ comment.id }}">
              <button style="float: right" type="submit">Delete Comment</button>
            </form>
            <form action="{{ url_for('comment_edit')}}" method="post">
              <input name="apartment_id" type="hidden" value="{{ apartment.id }}">
              <input name="comment_id" type="hidden" value="{{ comment.id }}">
              <button style="float: right" type="submit">Edit Comment</button>
            </form>
          {% endif %}
          <p>{{ comment.comment }}</p>
        {% endfor %}
        <hr>
      {% endif %}
    </div>
    <form action="{{ url_for('comment_create') }}" method="post">
      {% if comments %}
        <p>Add a Comment:</p>
      {% else %}
        <p>Be the First to add a Comment!</p>
      {% endif %}
      {{ form.csrf_token }}
      {{ form.user_id(value=current_user.get_id()) }}
      {{ form.apartment_id(value=apartment.id) }}
      {{ form.comment(rows='5',cols='100') }}
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>
{% endblock body %}