/* Main layout style */
body {
  background-color: #5ff58f;
}

/* Navigation bar style */
.navbar {
  border-radius: 4px;
  background-color: #4988f5;
  overflow: hidden;
  border: 2px solid #4988f5;
}

.navbar a {
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a.left {
  border-right: solid #fafff4 4px;
  float: left;
}

.navbar a.right {
  border-left: solid #fafff4 4px;
  float: right;
}

.navbar a.active {
  background-color: #fafff4;
  color: #ffffff;
}

.navbar a:hover {
  background-color: #fafff4;
  color: black;
}

/* Login and Register forms style */

.login {
  background-color: #4988f5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 150%;
  color: white;
  width: auto;
  padding: 10px 10px;
  margin: auto;
  display: inline-block;
  border: 3px solid #ffffff;
  border-radius: 10px;
}

.register {
  background-color: #4988f5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: center;
  text-align: center;
  font-size: 150%;
  color: white;
  width: auto;
  padding: 10px 10px;
  margin: auto;
  display: inline-block;
  border: 3px solid #ffffff;
  border-radius: 10px;
}


.login input[type=text]{
  padding: 1px 1px;
  margin: auto;
  display: inline-block;
  border: 2px groove #000000;
  border-radius: 5px;
  outline:none;
  width: 250px;
  height: 25px;
}


.login input[type=password]{
  padding: 1px 1px;
  margin: auto;
  display: inline-block;
  border: 2px groove #000000;
  border-radius: 5px;
  outline:none;
  width: 250px;
  height: 25px;
}

.login button[type=submit]{
  background-color: #4988f5;
  border-right: 4px solid #fafff4;
  border-left: 4px solid #fafff4;
  border-top: 2px solid #fafff4;
  border-bottom: 2px solid #fafff4;
  border-radius: 8px;
  font-size: large;
  color: #fafff4;
}

.login button[type=submit]:hover{
  background-color: #fafff4;
  color: black;
}

.register input[type=text]{
  padding: 1px 1px;
  margin: auto;
  display: inline-block;
  border: 2px groove #000000;
  border-radius: 5px;
  outline:none;
  width: 250px;
  height: 25px;
}


.register input[type=password]{
  padding: 1px 1px;
  margin: auto;
  display: inline-block;
  border: 2px groove #000000;
  border-radius: 5px;
  outline:none;
  width: 250px;
  height: 25px;
}

.register button[type=submit]{
  background-color: #4988f5;
  border-right: 4px solid #fafff4;
  border-left: 4px solid #fafff4;
  border-top: 2px solid #fafff4;
  border-bottom: 2px solid #fafff4;
  border-radius: 8px;
  font-size: large;
  color: #fafff4;
}

.register button[type=submit]:hover{
  background-color: #fafff4;
  color: black;
}


/*body part*/
.body{
  background-color: #4988f5;
  font-size: large;
  color: #fafff4;
  width: 98.5%;
  padding: 10px 10px;
  margin-top: 1%;
  display: inline-block;
  border: 3px solid #ffffff;
  border-radius: 10px;
}
.body a{
  background-color: #4988f5;
  border-radius: 8px;
  border-right: 4px solid #fafff4;
  border-left: 4px solid #fafff4;
  border-top: 2px solid #fafff4;
  border-bottom: 2px solid #fafff4;
  color: #fafff4;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: large;
}
.body a:hover {
  background-color: #fafff4;
  color: black;
}

.body button[type=submit]{
  background-color: #4988f5;
  border-right: 4px solid #fafff4;
  border-left: 4px solid #fafff4;
  border-top: 2px solid #fafff4;
  border-bottom: 2px solid #fafff4;
  border-radius: 8px;
  margin: 2px;
  font-size: large;
  color: #fafff4;

}

.body button[type=submit]:hover{
  background-color: #fafff4;
  color: black;
  outline: none;
}
.body button[type=submit]:focus{
  outline: none;
}
/*lines*/

hr {
 display: block;
 height: 1px;
 border: 0;
 border-top: 2px solid #000000;
 padding: 0;
}

textarea {
    outline: none;
    resize: none;
    border: 2px groove #000000;
    border-radius: 5px;
}

/*apartments in the list*/
.apinlist{
  background-color: #F5F5F5;
  font-size: large;
  color: black;
  width: 98.5%;
  padding: 10px 10px;
  margin-top: 1%;
  display: inline-block;
  border-radius: 8px;
}

.apinlist a{
  background-color: #F5F5F5;
  border-radius: 8px;
  border-right: 4px solid #4988f5;
  border-left: 4px solid #4988f5;
  border-top: 2px solid #F5F5F5;
  border-bottom: 2px solid #F5F5F5;
  color: #4988f5;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: large;
}

.apinlist a:hover {
  background-color: #4988f5;
  color: white;
  border-top: 2px solid #4988f5;
  border-bottom: 2px solid #4988f5;
}


